.collection{
    .row{
        margin: 3em auto;
        .img{
            margin: auto;
            @include small-screen{
                order: 1;
                
            }
        }
    }   
}