.join-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em auto;
    h2{
        font-size: 50px;
        font-weight: 700;
        line-height: 72px;
        margin-bottom: 60px;
        text-align: center;
        @include small-screen{
            font-size: 40px;
        }
    }
    form{
        display: flex;
        @include small-screen{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
        input{
            font-size: 18px;
            line-height: 51px;
            padding: 25 px 20px;
            width: 500px;
            border: none;
            text-align: center ;
            @include small-screen{
                width: 90%;
                margin: 2 em auto;
            }
        }
        button{
            padding:25px 20px;
            width:-webkit-fit-content;
            background-color: rgb(110, 133, 88);
            cursor: pointer;
            @include small-screen{
                display: flex;
                justify-content: center;
                align-items: center;
              
                height: 30px;
                width: 100px;
            }
            &:hover{
                background-color: rgb(82, 89, 54);
                color: rgb(219, 210, 210);
            }
        }
    }
}