.partner-text {
    display: flex;
    justify-content: center;
    align-self: center;
    color:rgb(95, 104, 27);
    span {
        font-size: 15px;
        font-weight: lighter;
        color:rgb(89, 102, 71);
    } 
}

.partner{
    display: flex;
    justify-content:space-around;
    align-self:center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    @include small-screen{
        flex-direction: column;
    }
    img{
        margin: 20px 25px;
        @include small-screen{
            flex-direction: column;
            margin: 23px auto;
        }
    }
}